/** Base Style **/

*{
    margin: 0px;
    padding: 0px;
}

html{
    background-color: whitesmoke;
}    

body{
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

/** Logo, Images **/

#logo{
    display: grid;
    margin: 0 auto 0 auto;
    max-width: 450px;
    width: 100%;
}

img{
    border-radius: 10px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.5));
    margin-bottom: 20px;
    margin-top: 50px;
    width: 250px;
}

/** Containers/Grids **/

#list{
    column-gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.rows{
    margin-top: 40px;
    margin-bottom: 40px;
}

.burger{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    max-width: 300px;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 40px;
    text-align: center;
}

article{
    background-color: rgb(205, 205, 205);
}

/** Content **/

.slogan{
    font-size: 2vw;
    margin-top: 0px;
}

.caption{
    color:rgb(34, 34, 34);
    display: inline-block;
    font-size: .75;
    padding: 20px;
    text-align: justify;
    width: 250px;
}

h1{
    font-size: 44px;
    font-weight: bold;
    margin-top: 80px;
    text-decoration: underline;
}

.price{
    color: grey;
    font-size: 2vw;
}

/** Nav, Icon, Buttons **/

nav, a{
    align-items: center;
    color: black;
    display: grid;
    font-size: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-decoration: underline;
}

i{
    align-self: center;
    font-size: 1.6vw;
}
.burger button{
    background-color:rgb(50, 50, 50);
    border: none;
    border-radius: 10px;
    color:whitesmoke;
    cursor: grabbing;
    font-size: 18px;
    outline: 0;
    padding: 12px;
    text-align: center;
    width: 100%;
}

/** Hover **/

a:hover{
    transform: scale(1.1);
}

article:hover{
    background-color: rgb(219, 202, 157);
    transform: scale(1.1);
    opacity: 1.7;
}

.burger button:hover{
    opacity: 0.7;
}

i:hover{
    opacity: 0.7;
    transform: scale(1.1);
}

/** Footer **/

footer{
    margin-bottom: 60px;
}

.smallLogo{
    width: 110px;
}
